<center><h1><b>5주차 ✅ EDA</b></h1></center>

---
----

<center><h2><b>데이터 가져오기 및 초기 가공 (merge) </b></h2></center>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
# import cufflinks as cf

In [2]:
pd.set_option('display.max_columns', None)

In [121]:
from glob import glob

glob('data/water/*')

['data/water/수질오염.csv']

## 수질오염

In [124]:
water_raw = pd.read_csv('data/water/수질오염.csv', encoding='cp949')
water_raw.head()

,수계별,항목,단위,2019.01 월,2019.02 월,2019.03 월,2019.04 월,2019.05 월,2019.06 월,2019.07 월,2019.08 월,2019.09 월,2019.10 월,2019.11 월,2019.12 월,2020.01 월,2020.02 월,2020.03 월,2020.04 월,2020.05 월,2020.06 월,2020.07 월,2020.08 월,2020.09 월,2020.10 월,2020.11 월,2020.12 월,Unnamed: 27
0,화천댐1(파로호),생물화학적산소요구량 BOD[㎎/ℓ],㎎/ℓ,1.0,NaN,0.30000,0.7,1.1,1.10000,0.9,0.6,0.40000,0.6,0.4,0.70000,0.4,0.5,0.30000,1.1,0.7,1.80000,0.9,1.9,1.2,0.6,0.5,1.00000,NaN
1,화천댐1(파로호),용존산소 DO[㎎/ℓ],㎎/ℓ,10.3,NaN,12.40000,11.4,10.9,9.50000,10.2,8.5,8.40000,7.9,8.8,10.50000,10.7,11.9,12.10000,12.4,11.1,10.00000,9.7,10.2,9.0,8.6,9.8,10.00000,NaN
2,화천댐1(파로호),카드뮴 Cd[㎎/ℓ],㎎/ℓ,NaN,NaN,0.00039,NaN,NaN,0.00000,NaN,NaN,0.00000,NaN,NaN,0.00000,NaN,NaN,0.00000,NaN,NaN,0.00020,NaN,NaN,0.0,NaN,NaN,0.00000,NaN
3,화천댐1(파로호),시안 CN[㎎/ℓ],㎎/ℓ,NaN,NaN,0.00000,NaN,NaN,0.00000,NaN,NaN,0.00000,NaN,NaN,0.00000,NaN,NaN,0.00000,NaN,NaN,0.00000,NaN,NaN,0.0,NaN,NaN,0.00000,NaN
4,화천댐1(파로호),납 Pb[㎎/ℓ],㎎/ℓ,NaN,NaN,0.00152,NaN,NaN,0.00045,NaN,NaN,0.00024,NaN,NaN,0.00301,NaN,NaN,0.00339,NaN,NaN,0.00064,NaN,NaN,0.0,NaN,NaN,0.00247,NaN

In [126]:
water = water_raw.melt(id_vars=['수계별', '항목', '단위'], var_name='시점', )
water.head()

         수계별                   항목   단위         시점  value
0  화천댐1(파로호)  생물화학적산소요구량 BOD[㎎/ℓ]  ㎎/ℓ  2019.01 월    1.0
1  화천댐1(파로호)         용존산소 DO[㎎/ℓ]  ㎎/ℓ  2019.01 월   10.3
2  화천댐1(파로호)          카드뮴 Cd[㎎/ℓ]  ㎎/ℓ  2019.01 월    NaN
3  화천댐1(파로호)           시안 CN[㎎/ℓ]  ㎎/ℓ  2019.01 월    NaN
4  화천댐1(파로호)            납 Pb[㎎/ℓ]  ㎎/ℓ  2019.01 월    NaN

In [113]:
water.shape

(43920, 5)

In [111]:
water.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43920 entries, 0 to 43919
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   수계별(1)  41256 non-null  object
 1   수계별(2)  41256 non-null  object
 2   항목      41256 non-null  object
 3   시점      43920 non-null  object
 4   value   42822 non-null  object
dtypes: object(5)
memory usage: 1.7+ MB

In [112]:
water.dtypes

수계별(1)    object
수계별(2)    object
항목        object
시점        object
value     object
dtype: object

In [99]:
water.rename(columns={'수계별(1)':'강명', '수계별(2)': '댐명', })

/var/folders/21/dvhd5rm144sbp9s362bjvx400000gn/T/ipykernel_93809/3542657401.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  water_df.groupby('수계별(1)').mean()

Empty DataFrame
Columns: []
Index: [금강, 기타, 낙동강, 만경강, 삽교천, 섬진강, 수어천, 안성천, 영산강, 탐진강, 태화강, 한강, 형산강, 회야강]

----

In [ ]:
air_raw = pd.read_csv