In [1]:
import pandas as pd
import numpy as np

In [5]:
air_raw = pd.read_csv('data/air/air.csv')
air_raw.head()

    지역          종류       날짜         수치
0  강원도   미세먼지 PM10  2019.01  55.769231
1  강원도  미세먼지 PM2.5  2019.01  31.923077
2  강원도       아황산가스  2019.01   0.003385
3  강원도          오존  2019.01   0.022154
4  강원도       이산화질소  2019.01   0.018462

In [6]:
air_raw.shape

(2448, 4)

In [7]:
air_raw.describe()

                날짜           수치
count  2448.000000  2447.000000
mean   2019.565000     9.536251
std       0.501293    15.137039
min    2019.010000     0.001000
25%    2019.067500     0.014000
50%    2019.565000     0.062667
75%    2020.062500    18.895238
max    2020.120000    73.187500