In [2]:
import pandas as pd
import numpy as np

In [3]:
from glob import glob


# 저장한 output 파일 가져오기
dfs = [pd.read_csv(df) for df in glob('output/*')]
dfs[0].head()

    범죄명    연도     기간 재범종류  범죄종류  재범발생횟수
0  살인기수  2011  1개월이내   동종  강력범죄       1
1  살인기수  2011  3개월이내   동종  강력범죄       2
2  살인기수  2011  6개월이내   동종  강력범죄       1
3  살인기수  2011   1년이내   동종  강력범죄       4
4  살인기수  2011   2년이내   동종  강력범죄       1

In [4]:
# 재범종류, 검거기간
repeat = dfs[0]
arrest = dfs[1]

In [12]:
repeat_ = repeat.groupby(by=['연도', '범죄명']).sum()

In [13]:
arrest_ = arrest.groupby(by=['연도', '범죄명']).sum()

In [18]:
repeat_.to_csv('output/0402_검거까지_기간_2011_2020.csv', )
arrest_.to_csv('output/0402_재범종류_및_기간_2011_2020.csv', )

In [16]:
pd.merge(repeat_, arrest_, left_on=['연도', '범죄명'], right_on=['연도', '범죄명'])

              재범발생횟수    범죄자수
연도   범죄명
2011 강간            0       0
     강간·강제추행    8324   16404
     강도         3230    3385
     강제추행          0       0
     공갈         1949    3238
...              ...     ...
2020 폭력행위등     12499    7073
     폭행        70520  132352
     협박        11381   19876
     환경범죄       2908    3350
     횡령        13269   27883

[390 rows x 2 columns]

In [6]:
pd.merge(dfs[0],dfs[1], right_on=['범죄명', '연도'], left_on=['범죄명', '연도'])

        범죄명    연도     기간 재범종류 범죄종류_x  재범발생횟수   검거기간 범죄종류_y   범죄자수
0      살인기수  2011  1개월이내   동종   강력범죄       1   1일이내   강력범죄    217
1      살인기수  2011  1개월이내   동종   강력범죄       1   2일이내   강력범죄     13
2      살인기수  2011  1개월이내   동종   강력범죄       1   3일이내   강력범죄     11
3      살인기수  2011  1개월이내   동종   강력범죄       1  10일이내   강력범죄     35
4      살인기수  2011  1개월이내   동종   강력범죄       1  1개월이내   강력범죄     29
...     ...   ...    ...  ...    ...     ...    ...    ...    ...
51235  기타범죄  2020   3년초과   이종   기타범죄   52819  3개월이내   기타범죄  44181
51236  기타범죄  2020   3년초과   이종   기타범죄   52819  6개월이내   기타범죄  23193
51237  기타범죄  2020   3년초과   이종   기타범죄   52819   1년이내   기타범죄  20119
51238  기타범죄  2020   3년초과   이종   기타범죄   52819   1년초과   기타범죄  32410
51239  기타범죄  2020   3년초과   이종   기타범죄   52819     미상   기타범죄      0

[51240 rows x 9 columns]