<center><h1><b>4주차 ✅ 범죄자 특성 EDA</b></h1></center>

---
----

<center><h2><b>데이터 가져오기</b></h2></center>

In [367]:
import pandas as pd
import numpy as np

In [368]:
# 전체 열 보기
pd.options.display.max_columns = None
pd.options.display.max_rows = 100

In [369]:
import glob

glob.glob('data/*')

['data/재범자_재범종류_및_기간_2011_2020.csv', 'data/범죄_발생부터_검거까지의_기간_2011_2020.csv']

In [370]:
# 데이터 로드
raw = pd.read_csv('data/재범자_재범종류_및_기간_2011_2020.csv', encoding='cp949')
raw.shape

(748, 14)

In [371]:
# 두번쨰 데이터 로드
raw2 = pd.read_csv('data/범죄_발생부터_검거까지의_기간_2011_2020.csv', encoding='cp949')
raw2.shape

(459, 13)

In [372]:
# 앞에
raw.head()

,죄종별(1),죄종별(2),재범종류별(1),재범기간별(1),2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,계,소계,계,계,822673,862625,871076,833458,844015,881941,796882,712811,701101,661301
1,계,소계,동종,계,292731,290881,293431,272582,271767,275237,248437,221167,210162,197950
2,계,소계,동종,1개월이내,13342,14843,13395,10983,11001,12206,10523,9997,9980,10643
3,계,소계,동종,3개월이내,19064,20221,17813,15180,15808,17481,15653,13945,13694,13604
4,계,소계,동종,6개월이내,17744,18613,18293,17767,17602,18912,17545,15457,14732,14132

In [373]:
# 뒤에
raw.tail()

,죄종별(1),죄종별(2),재범종류별(1),재범기간별(1),2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
743,기타범죄,소계,이종,6개월이내,2662,3055,3150,3365,3419,4264,3767,3223,3028,2930
744,기타범죄,소계,이종,1년이내,12238,12355,12751,14017,14339,18159,15681,13439,13213,12823
745,기타범죄,소계,이종,2년이내,9546,9025,8976,9943,10138,13213,11109,9896,9957,8728
746,기타범죄,소계,이종,3년이내,11552,11608,11894,10962,11043,15104,12400,10772,11255,10163
747,기타범죄,소계,이종,3년초과,46103,47207,48965,53901,55663,72444,62617,52836,55317,52819

In [374]:
# 컬럼명 확인
raw.columns

Index(['죄종별(1)', '죄종별(2)', '재범종류별(1)', '재범기간별(1)', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [375]:
raw2.columns

Index(['죄종별(1)', '죄종별(2)', '범죄발생검거기간별(1)', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [376]:
# 컬럼명 변경
raw = raw.rename(columns={
    "죄종별(1)": "범죄종류", "죄종별(2)": "범죄명",
    "재범종류별(1)": "재범종류", "재범기간별(1)": "기간",})

# 바뀐 컬럼명 확인
raw.columns

Index(['범죄종류', '범죄명', '재범종류', '기간', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020'],
      dtype='object')

In [377]:
raw2 = raw2.rename(columns={
    "죄종별(1)": "범죄종류", "죄종별(2)": "범죄명",
    "범죄발생검거기간별(1)": "검거기간", })

raw2.columns

Index(['범죄종류', '범죄명', '검거기간', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020'],
      dtype='object')

---
----

<center><h2><b>Tidy Data 만들기</b></h2></center>

In [378]:
# Tidy Data 만들기!
df = pd.melt(raw, id_vars=['범죄종류', '범죄명', '재범종류', '기간'],
            var_name='연도', value_name='재범발생횟수')
df.head(10)

  범죄종류 범죄명 재범종류     기간    연도  재범발생횟수
0    계  소계    계      계  2011  822673
1    계  소계   동종      계  2011  292731
2    계  소계   동종  1개월이내  2011   13342
3    계  소계   동종  3개월이내  2011   19064
4    계  소계   동종  6개월이내  2011   17744
5    계  소계   동종   1년이내  2011   62707
6    계  소계   동종   2년이내  2011   38801
7    계  소계   동종   3년이내  2011   40255
8    계  소계   동종   3년초과  2011  100818
9    계  소계   이종      계  2011  529942

In [379]:
# Tidy Data 만들기!
df2 = pd.melt(raw2,
            id_vars=['범죄종류', '범죄명', '검거기간'],
            var_name='연도', value_name='범죄자수')
df2.head(10)

  범죄종류 범죄명   검거기간    연도     범죄자수
0    계  소계      계  2011  1382463
1    계  소계   1일이내  2011   676679
2    계  소계   2일이내  2011    27644
3    계  소계   3일이내  2011    26687
4    계  소계  10일이내  2011   105133
5    계  소계  1개월이내  2011   135784
6    계  소계  3개월이내  2011   143550
7    계  소계  6개월이내  2011    74801
8    계  소계   1년이내  2011    66227
9    계  소계   1년초과  2011   125921

In [380]:
# 요약 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7480 entries, 0 to 7479
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   범죄종류    7480 non-null   object
 1   범죄명     7480 non-null   object
 2   재범종류    7480 non-null   object
 3   기간      7480 non-null   object
 4   연도      7480 non-null   object
 5   재범발생횟수  7480 non-null   object
dtypes: object(6)
memory usage: 350.8+ KB

In [381]:
# 타입 확인
df.dtypes, df2.dtypes

(범죄종류      object
 범죄명       object
 재범종류      object
 기간        object
 연도        object
 재범발생횟수    object
 dtype: object,
 범죄종류    object
 범죄명     object
 검거기간    object
 연도      object
 범죄자수    object
 dtype: object)

In [382]:
# 연도, 발생횟수 수치형 데이터로 변경
# df['연도'] = df['연도'].astype(int)
# df['연도'].dtypes

df2['연도'] = df2['연도'].astype(int)
df2['연도'].dtypes

dtype('int64')

In [383]:
# 연도, 발생횟수 수치형 데이터로 변경
# 발생횟수 같은 경우는 astype 을 이용하면 중간에 string 오류가 난다.
# downcast 하면 타입 변경 가능 -> 근데 결측치가 있어서 float
df['재범발생횟수'] = pd.to_numeric(df['재범발생횟수'], errors='coerce', downcast='integer')
df['재범발생횟수'].dtypes

dtype('float64')

In [384]:
df2['범죄자수'] = pd.to_numeric(df2['범죄자수'], errors='coerce', downcast='integer')
df2['범죄자수'].dtypes

dtype('float64')

In [385]:
# 결측치 확인
df.isnull().sum()

범죄종류        0
범죄명         0
재범종류        0
기간          0
연도          0
재범발생횟수    573
dtype: int64

In [386]:
df2.isnull().sum()

범죄종류      0
범죄명       0
검거기간      0
연도        0
범죄자수    392
dtype: int64

In [387]:
# 결측치 변경
df['재범발생횟수'] = df['재범발생횟수'].fillna(0).astype(int)

In [388]:
# 결측치 변경 확인
df.isnull().sum()

범죄종류      0
범죄명       0
재범종류      0
기간        0
연도        0
재범발생횟수    0
dtype: int64

In [389]:
# 결측치 변경
df2['범죄자수'] = df2['범죄자수'].fillna(0).astype(int)

In [390]:
df2.isnull().sum()

범죄종류    0
범죄명     0
검거기간    0
연도      0
범죄자수    0
dtype: int64

In [391]:
# 고유값 확인하기
for col in df.columns:
    print(col, ':', end = ' ')
    print(df[col].unique(), end = '\n\n')

범죄종류 : ['계' '강력범죄' '절도범죄' '폭력범죄' '지능범죄' '풍속범죄' '특별경제범죄' '마약범죄' '보건범죄' '환경범죄'
 '교통범죄' '노동범죄' '안보범죄' '선거범죄' '병역범죄' '기타범죄']

범죄명 : ['소계' '살인기수' '살인미수등' '강도' '강간·강제추행' '강간' '유사강간' '강제추행' '기타 강간·강제추행등' '방화'
 '상해' '폭행' '체포·감금' '협박' '약취·유인' '폭력행위등' '공갈' '손괴' '직무유기' '직권남용' '증수뢰' '통화'
 '문서·인장' '유가증권인지' '사기' '횡령' '배임' '성풍속범죄' '도박범죄']

재범종류 : ['계' '동종' '이종']

기간 : ['계' '1개월이내' '3개월이내' '6개월이내' '1년이내' '2년이내' '3년이내' '3년초과']

연도 : ['2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019' '2020']

재범발생횟수 : [822673 292731  13342 ...   8728  10163  52819]

In [392]:
# 소계 하나뿐인지 확인
df2.groupby(by=['범죄종류', '범죄명']).count()

                    검거기간   연도  범죄자수
범죄종류   범죄명
강력범죄   강간            100  100   100
       강간·강제추행       100  100   100
       강도            110  110   110
       강제추행          100  100   100
       기타 강간·강제추행등   100  100   100
       방화            100  100   100
       살인기수          100  100   100
       살인미수등         100  100   100
       소계            110  110   110
       유사강간          100  100   100
계      소계            110  110   110
교통범죄   소계            110  110   110
기타범죄   소계            110  110   110
노동범죄   소계            100  100   100
마약범죄   소계            110  110   110
병역범죄   소계            110  110   110
보건범죄   소계            110  110   110
선거범죄   소계            100  100   100
안보범죄   소계            100  100   100
절도범죄   소계            110  110   110
지능범죄   문서·인장         100  100   100
       배임            110  110   110
       사기            110  110   110
       소계            110  110   110
       유가증권인지        100  100   100
       증수뢰           100  100   100
       직권남용          100  100   100
       직무유기          100  100   100
       통화            100  100   100
       횡령            110  110   110
특별경제범죄 소계            110  110   110
폭력범죄   공갈            100  100   100
       상해            110  110   110
       소계            110  110   110
       손괴            110  110   110
       약취·유인         100  100   100
       체포·감금         100  100   100
       폭력행위등         110  110   110
       폭행            110  110   110
       협박            100  100   100
풍속범죄   도박범죄          100  100   100
       성풍속범죄         100  100   100
       소계            100  100   100
환경범죄   소계            100  100   100

In [393]:
# 소계 들어가는 행 삭제
drops_col = ['강력범죄', '지능범죄', '폭력범죄', '풍속범죄']
drops = ((df['범죄명'].str.contains('계')) & (df['범죄종류'] == drops_col[0])) |\
((df['범죄명'].str.contains('계')) & (df['범죄종류'] == drops_col[1])) |\
((df['범죄명'].str.contains('계')) & (df['범죄종류'] == drops_col[2])) |\
((df['범죄명'].str.contains('계')) & (df['범죄종류'] == drops_col[3])) |\
    df['범죄종류'].str.contains('계') | df['기간'].str.contains('계')
df = df[~drops]

In [394]:
df.tail()

      범죄종류 범죄명 재범종류     기간    연도  재범발생횟수
7475  기타범죄  소계   이종  6개월이내  2020    2930
7476  기타범죄  소계   이종   1년이내  2020   12823
7477  기타범죄  소계   이종   2년이내  2020    8728
7478  기타범죄  소계   이종   3년이내  2020   10163
7479  기타범죄  소계   이종   3년초과  2020   52819

In [395]:
# drops_col = ['강력범죄', '지능범죄', '폭력범죄', '풍속범죄']
drops = ((df2['범죄명'].str.contains('계')) & (df2['범죄종류'] == drops_col[0])) |\
((df2['범죄명'].str.contains('계')) & (df2['범죄종류'] == drops_col[1])) |\
((df2['범죄명'].str.contains('계')) & (df2['범죄종류'] == drops_col[2])) |\
((df2['범죄명'].str.contains('계')) & (df2['범죄종류'] == drops_col[3])) |\
    df2['범죄종류'].str.contains('계') | df2['검거기간'].str.contains('계')
df2 = df2[~drops]

In [396]:
df2.tail()

      범죄종류 범죄명   검거기간    연도   범죄자수
4585  기타범죄  소계  3개월이내  2020  44181
4586  기타범죄  소계  6개월이내  2020  23193
4587  기타범죄  소계   1년이내  2020  20119
4588  기타범죄  소계   1년초과  2020  32410
4589  기타범죄  소계     미상  2020      0

In [397]:
# 소계 겹치지 않게 범죄명 변경
for col in df['범죄종류'].unique().tolist():
    if col not in drops_col:
        df.loc[df['범죄종류'] == col, '범죄명'] = col

In [398]:
for col in df2['범죄종류'].unique().tolist():
    if col not in drops_col:
        df2.loc[df2['범죄종류'] == col, '범죄명'] = col

In [412]:
# 제대로 변경 되었는지 확인
df.groupby(by=['범죄종류', '범죄명']).count()
# df2.groupby(by=['범죄종류', '범죄명']).count()

                     연도   기간  재범종류  재범발생횟수
범죄종류   범죄명
강력범죄   강간           140  140   140     140
       강간·강제추행      140  140   140     140
       강도           140  140   140     140
       강제추행         140  140   140     140
       기타 강간·강제추행등  140  140   140     140
       방화           140  140   140     140
       살인기수         140  140   140     140
       살인미수등        140  140   140     140
       유사강간         140  140   140     140
교통범죄   교통범죄         140  140   140     140
기타범죄   기타범죄         140  140   140     140
노동범죄   노동범죄         140  140   140     140
마약범죄   마약범죄         140  140   140     140
병역범죄   병역범죄         140  140   140     140
보건범죄   보건범죄         140  140   140     140
선거범죄   선거범죄         140  140   140     140
안보범죄   안보범죄         140  140   140     140
절도범죄   절도범죄         140  140   140     140
지능범죄   문서·인장        140  140   140     140
       배임           140  140   140     140
       사기           140  140   140     140
       유가증권인지       140  140   140     140
       증수뢰          140  140   140     140
       직권남용         140  140   140     140
       직무유기         140  140   140     140
       통화           140  140   140     140
       횡령           140  140   140     140
특별경제범죄 특별경제범죄       140  140   140     140
폭력범죄   공갈           140  140   140     140
       상해           140  140   140     140
       손괴           140  140   140     140
       약취·유인        140  140   140     140
       체포·감금        140  140   140     140
       폭력행위등        140  140   140     140
       폭행           140  140   140     140
       협박           140  140   140     140
풍속범죄   도박범죄         140  140   140     140
       성풍속범죄        140  140   140     140
환경범죄   환경범죄         140  140   140     140

In [413]:
# 인덱스 재정의
df = df.reset_index(drop=True)
df.head()

    범죄명    연도     기간 재범종류  범죄종류  재범발생횟수
0  살인기수  2011  1개월이내   동종  강력범죄       1
1  살인기수  2011  3개월이내   동종  강력범죄       2
2  살인기수  2011  6개월이내   동종  강력범죄       1
3  살인기수  2011   1년이내   동종  강력범죄       4
4  살인기수  2011   2년이내   동종  강력범죄       1

In [414]:
df2 = df2.reset_index(drop=True)
df2.head()

    범죄명    연도   검거기간  범죄종류  범죄자수
0  살인기수  2011   1일이내  강력범죄   217
1  살인기수  2011   2일이내  강력범죄    13
2  살인기수  2011   3일이내  강력범죄    11
3  살인기수  2011  10일이내  강력범죄    35
4  살인기수  2011  1개월이내  강력범죄    29

In [415]:
# 컬럼 재정렬
cols = ['범죄명', '연도', '기간', '재범종류', '범죄종류', '재범발생횟수', ]
df = df[cols]

In [416]:
# 컬럼 재정렬
cols = ['범죄명', '연도', '검거기간', '범죄종류', '범죄자수', ]
df2 = df2[cols]

In [417]:
# 데이터 저장
df.to_csv('output/04_재범종류_및_기간_2011_2020.csv', index=False)
df2.to_csv('output/04_검거까지_기간_2011_2020.csv', index=False)

In [418]:
df.shape, df2.shape

((5460, 6), (3660, 5))

---
----

<center><h2><b>데이터 요악 통계</b></h2></center>

In [406]:
# 요약 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5460 entries, 0 to 5459
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   범죄명     5460 non-null   object
 1   연도      5460 non-null   object
 2   기간      5460 non-null   object
 3   재범종류    5460 non-null   object
 4   범죄종류    5460 non-null   object
 5   재범발생횟수  5460 non-null   int64
dtypes: int64(1), object(5)
memory usage: 256.1+ KB

In [407]:
# 수치형 통계
df.describe()

             재범발생횟수
count   5460.000000
mean    1462.982234
std     5480.433830
min        0.000000
25%        8.000000
50%       90.000000
75%      767.000000
max    97082.000000

In [408]:
# 범주형 통계
df.describe(include='object')

         범죄명    연도     기간  재범종류  범죄종류
count   5460  5460   5460  5460  5460
unique    39    10      7     2    15
top     살인기수  2011  1개월이내    동종  강력범죄
freq     140   546    780  2730  1260

In [409]:
df.head()

    범죄명    연도     기간 재범종류  범죄종류  재범발생횟수
0  살인기수  2011  1개월이내   동종  강력범죄       1
1  살인기수  2011  3개월이내   동종  강력범죄       2
2  살인기수  2011  6개월이내   동종  강력범죄       1
3  살인기수  2011   1년이내   동종  강력범죄       4
4  살인기수  2011   2년이내   동종  강력범죄       1

In [410]:
df.set_index('범죄명')

        연도     기간 재범종류  범죄종류  재범발생횟수
범죄명
살인기수  2011  1개월이내   동종  강력범죄       1
살인기수  2011  3개월이내   동종  강력범죄       2
살인기수  2011  6개월이내   동종  강력범죄       1
살인기수  2011   1년이내   동종  강력범죄       4
살인기수  2011   2년이내   동종  강력범죄       1
...    ...    ...  ...   ...     ...
기타범죄  2020  6개월이내   이종  기타범죄    2930
기타범죄  2020   1년이내   이종  기타범죄   12823
기타범죄  2020   2년이내   이종  기타범죄    8728
기타범죄  2020   3년이내   이종  기타범죄   10163
기타범죄  2020   3년초과   이종  기타범죄   52819

[5460 rows x 5 columns]

In [411]:
df.groupby(by=['연도', '범죄명']).mean().head(30)

                        재범발생횟수
연도   범죄명
2011 강간               0.000000
     강간·강제추행        594.571429
     강도             230.714286
     강제추행             0.000000
     공갈             139.214286
     교통범죄         18107.285714
     기타 강간·강제추행등      0.000000
     기타범죄          7997.071429
     노동범죄           115.142857
     도박범죄          2241.571429
     마약범죄           241.571429
     문서·인장          415.500000
     방화              69.785714
     배임             122.928571
     병역범죄           628.000000
     보건범죄           716.000000
     사기            5303.714286
     살인기수            17.071429
     살인미수등           40.214286
     상해            4265.642857
     선거범죄            12.428571
     성풍속범죄          313.428571
     손괴            1350.357143
     안보범죄             5.785714
     약취·유인           11.785714
     유가증권인지          19.285714
     유사강간             0.000000
     절도범죄          4102.214286
     증수뢰             40.142857
     직권남용             2.214286