<center><h1><b>3주차 ✅ 국가건강검진 데이터 EDA</b></h1></center>

In [2]:
# 라이브러리 import
import pandas as pd
import numpy as np
import plotly.express as px

In [3]:
# df 행/열 전체 보기
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [4]:
# data 폴더 안 raw 데이터 확인
import glob

glob.glob('data/*')

['data/국민건강보험공단_건강검진정보_20211229.CSV', 'data/test.csv']

In [35]:
# 데이터 불러오기
df = pd.read_csv('data/국민건강보험공단_건강검진정보_20211229.CSV', encoding='cp949')
df.head()

,기준년도,가입자 일련번호,시도코드,성별코드,연령대 코드(5세단위),신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기 혈압,이완기 혈압,식전혈당(공복혈당),총 콜레스테롤,트리글리세라이드,HDL 콜레스테롤,LDL 콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마 지티피,흡연상태,음주여부,구강검진 수검여부,치아우식증유무,치석,데이터 공개일자
0,2020,1,36,1,9,165,60,72.1,1.2,1.5,1.0,1.0,127.0,79.0,90.0,188.0,58.0,58.0,118.0,15.0,1.0,1.1,21.0,27.0,21.0,1.0,0.0,0,NaN,NaN,2021-12-29
1,2020,2,27,2,13,150,65,81.0,0.8,0.8,1.0,1.0,110.0,73.0,87.0,NaN,NaN,NaN,NaN,12.7,1.0,0.5,18.0,15.0,15.0,1.0,0.0,0,NaN,NaN,2021-12-29
2,2020,3,11,2,12,155,55,70.0,0.6,0.7,1.0,1.0,123.0,80.0,102.0,NaN,NaN,NaN,NaN,12.8,1.0,0.7,27.0,25.0,7.0,1.0,0.0,0,NaN,NaN,2021-12-29
3,2020,4,31,1,13,160,70,90.8,1.0,1.0,1.0,2.0,134.0,84.0,146.0,NaN,NaN,NaN,NaN,16.4,1.0,1.2,65.0,97.0,72.0,1.0,0.0,1,0.0,0.0,2021-12-29
4,2020,5,41,2,12,155,50,75.2,1.5,1.2,1.0,1.0,144.0,89.0,110.0,220.0,171.0,53.0,133.0,12.4,1.0,0.7,18.0,17.0,14.0,1.0,0.0,0,NaN,NaN,2021-12-29

In [6]:
# 일부 정보 확인
df.tail()

,기준년도,가입자 일련번호,시도코드,성별코드,연령대 코드(5세단위),신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기 혈압,이완기 혈압,식전혈당(공복혈당),총 콜레스테롤,트리글리세라이드,HDL 콜레스테롤,LDL 콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마 지티피,흡연상태,음주여부,구강검진 수검여부,치아우식증유무,치석,데이터 공개일자
999995,2020,999996,41,2,13,145,55,81.0,0.9,1.0,1.0,1.0,132.0,78.0,124.0,178.0,301.0,43.0,75.0,13.6,1.0,0.6,21.0,25.0,18.0,1.0,0.0,0,NaN,NaN,2021-12-29
999996,2020,999997,26,2,12,160,55,76.5,1.5,1.5,1.0,1.0,100.0,64.0,98.0,288.0,93.0,71.0,198.0,14.0,1.0,0.8,21.0,14.0,19.0,1.0,1.0,0,NaN,NaN,2021-12-29
999997,2020,999998,48,1,9,175,70,85.0,1.2,1.2,1.0,1.0,110.0,64.0,83.0,NaN,NaN,NaN,NaN,16.0,1.0,0.9,26.0,20.0,17.0,1.0,1.0,0,NaN,NaN,2021-12-29
999998,2020,999999,48,2,9,160,70,91.0,0.6,0.5,1.0,1.0,137.0,82.0,111.0,208.0,113.0,59.0,126.0,11.9,1.0,1.0,25.0,29.0,13.0,1.0,0.0,0,NaN,NaN,2021-12-29
999999,2020,1000000,28,1,11,160,55,76.1,2.0,2.0,1.0,1.0,133.0,74.0,121.0,237.0,63.0,68.0,156.0,14.9,1.0,0.9,17.0,13.0,24.0,2.0,0.0,0,NaN,NaN,2021-12-29

In [7]:
df.sample(5)

,기준년도,가입자 일련번호,시도코드,성별코드,연령대 코드(5세단위),신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기 혈압,이완기 혈압,식전혈당(공복혈당),총 콜레스테롤,트리글리세라이드,HDL 콜레스테롤,LDL 콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마 지티피,흡연상태,음주여부,구강검진 수검여부,치아우식증유무,치석,데이터 공개일자
581228,2020,581229,42,2,16,145,55,98.0,0.8,0.8,2.0,2.0,113.0,74.0,94.0,NaN,NaN,NaN,NaN,12.4,1.0,1.0,16.0,9.0,16.0,1.0,0.0,0,NaN,NaN,2021-12-29
39054,2020,39055,41,2,11,150,60,88.0,0.8,0.9,1.0,1.0,116.0,74.0,114.0,137.0,72.0,70.0,52.0,13.0,1.0,0.7,28.0,37.0,41.0,1.0,0.0,0,NaN,NaN,2021-12-29
742650,2020,742651,11,1,16,165,55,73.0,0.9,0.7,1.0,1.0,117.0,73.0,99.0,283.0,124.0,79.0,179.0,14.8,1.0,0.8,29.0,20.0,9.0,2.0,0.0,0,NaN,NaN,2021-12-29
452923,2020,452924,11,2,10,155,45,68.0,0.7,0.6,1.0,1.0,100.0,60.0,79.0,230.0,55.0,93.0,126.0,13.4,1.0,0.9,19.0,12.0,12.0,1.0,1.0,0,NaN,NaN,2021-12-29
918986,2020,918987,36,2,9,160,55,83.0,0.3,0.5,1.0,1.0,111.0,70.0,101.0,NaN,NaN,NaN,NaN,14.0,1.0,0.8,16.0,13.0,10.0,1.0,1.0,0,NaN,NaN,2021-12-29

In [8]:
# 컬럼명 총 확인
df.columns

Index(['기준년도', '가입자 일련번호', '시도코드', '성별코드', '연령대 코드(5세단위)', '신장(5Cm단위)',
       '체중(5Kg 단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기 혈압',
       '이완기 혈압', '식전혈당(공복혈당)', '총 콜레스테롤', '트리글리세라이드', 'HDL 콜레스테롤', 'LDL 콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마 지티피', '흡연상태',
       '음주여부', '구강검진 수검여부', '치아우식증유무', '치석', '데이터 공개일자'],
      dtype='object')

In [9]:
# 요약 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 31 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   기준년도          1000000 non-null  int64
 1   가입자 일련번호      1000000 non-null  int64
 2   시도코드          1000000 non-null  int64
 3   성별코드          1000000 non-null  int64
 4   연령대 코드(5세단위)  1000000 non-null  int64
 5   신장(5Cm단위)     1000000 non-null  int64
 6   체중(5Kg 단위)    1000000 non-null  int64
 7   허리둘레          999892 non-null   float64
 8   시력(좌)         999743 non-null   float64
 9   시력(우)         999748 non-null   float64
 10  청력(좌)         999778 non-null   float64
 11  청력(우)         999770 non-null   float64
 12  수축기 혈압        992468 non-null   float64
 13  이완기 혈압        992466 non-null   float64
 14  식전혈당(공복혈당)    992398 non-null   float64
 15  총 콜레스테롤       402306 non-null   float64
 16  트리글리세라이드      402322 non-null   float64
 17  HDL 콜레스테롤     402315 non-null   float64
 18  LDL 콜레스테롤     394471 non-null   float64
 19  혈색소           992389 non-null   float64
 20  요단백           987859 non-null   float64
 21  혈청크레아티닌       992398 non-null   float64
 22  (혈청지오티)AST    992399 non-null   float64
 23  (혈청지오티)ALT    992398 non-null   float64
 24  감마 지티피        992397 non-null   float64
 25  흡연상태          999657 non-null   float64
 26  음주여부          999804 non-null   float64
 27  구강검진 수검여부     1000000 non-null  int64
 28  치아우식증유무       331383 non-null   float64
 29  치석            331382 non-null   float64
 30  데이터 공개일자      1000000 non-null  object
dtypes: float64(22), int64(8), object(1)
memory usage: 236.5+ MB

In [10]:
# 요약 통계 (수치형)
df.describe()

,기준년도,가입자 일련번호,시도코드,성별코드,연령대 코드(5세단위),신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기 혈압,이완기 혈압,식전혈당(공복혈당),총 콜레스테롤,트리글리세라이드,HDL 콜레스테롤,LDL 콜레스테롤,혈색소,요단백,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마 지티피,흡연상태,음주여부,구강검진 수검여부,치아우식증유무,치석
count,1000000.0,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,999892.000000,999743.000000,999748.000000,999778.000000,999770.000000,992468.000000,992466.000000,992398.000000,402306.000000,402322.000000,402315.000000,394471.000000,992389.00000,987859.000000,992398.000000,992399.000000,992398.000000,992397.000000,999657.000000,999804.000000,1000000.000000,331383.00000,331382.000000
mean,2020.0,500000.500000,34.047725,1.489311,11.917757,160.964085,63.060790,82.357094,0.933045,0.935036,1.046334,1.044071,124.831874,76.815972,104.257728,198.457729,133.837283,56.769684,115.823673,14.20946,1.122333,0.851984,27.698337,26.759641,37.778292,1.557421,0.584800,0.331384,0.16859,0.584661
std,0.0,288675.278933,12.443883,0.499886,2.171036,9.197899,12.269907,9.622632,0.637453,0.644911,0.218147,0.212804,14.751504,9.990877,25.412529,43.210579,99.979640,16.530316,39.185302,1.55418,0.493386,0.369630,25.286659,25.835091,51.815871,0.783742,0.492757,0.470711,0.37439,0.589833
min,2020.0,1.000000,11.000000,1.000000,9.000000,130.000000,30.000000,5.800000,0.100000,0.100000,1.000000,1.000000,64.000000,30.000000,1.000000,54.000000,2.000000,1.000000,1.000000,1.00000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.00000,0.000000
25%,2020.0,250000.750000,27.000000,1.000000,10.000000,155.000000,55.000000,76.000000,0.700000,0.700000,1.000000,1.000000,115.000000,70.000000,91.000000,170.000000,77.000000,46.000000,89.000000,13.20000,1.000000,0.700000,20.000000,16.000000,16.000000,1.000000,0.000000,0.000000,0.00000,0.000000
50%,2020.0,500000.500000,41.000000,1.000000,12.000000,160.000000,60.000000,82.000000,0.900000,0.900000,1.000000,1.000000,124.000000,77.000000,99.000000,197.000000,110.000000,55.000000,115.000000,14.20000,1.000000,0.800000,24.000000,21.000000,24.000000,1.000000,1.000000,0.000000,0.00000,1.000000
75%,2020.0,750000.250000,44.000000,2.000000,13.000000,170.000000,70.000000,89.000000,1.200000,1.200000,1.000000,1.000000,134.000000,83.000000,109.000000,225.000000,160.000000,65.000000,140.000000,15.30000,1.000000,1.000000,30.000000,31.000000,40.000000,2.000000,1.000000,1.000000,0.00000,1.000000
max,2020.0,1000000.000000,49.000000,2.000000,18.000000,195.000000,135.000000,999.000000,9.900000,9.900000,3.000000,3.000000,260.000000,190.000000,950.000000,2416.000000,6999.000000,960.000000,2395.000000,25.00000,6.000000,95.000000,8712.000000,5990.000000,2630.000000,3.000000,1.000000,1.000000,1.00000,2.000000

In [11]:
# 요약 통계 (범주형)
df.describe(include='object')

          데이터 공개일자
count      1000000
unique           1
top     2021-12-29
freq       1000000

In [12]:
# 결측치 확인
df.isnull().sum()

기준년도                 0
가입자 일련번호             0
시도코드                 0
성별코드                 0
연령대 코드(5세단위)         0
신장(5Cm단위)            0
체중(5Kg 단위)           0
허리둘레               108
시력(좌)              257
시력(우)              252
청력(좌)              222
청력(우)              230
수축기 혈압            7532
이완기 혈압            7534
식전혈당(공복혈당)        7602
총 콜레스테롤         597694
트리글리세라이드        597678
HDL 콜레스테롤       597685
LDL 콜레스테롤       605529
혈색소               7611
요단백              12141
혈청크레아티닌           7602
(혈청지오티)AST        7601
(혈청지오티)ALT        7602
감마 지티피            7603
흡연상태               343
음주여부               196
구강검진 수검여부            0
치아우식증유무         668617
치석              668618
데이터 공개일자             0
dtype: int64

In [13]:
# 결측치 총계
df.isnull().sum().sum()

3810257

In [14]:
# 상관계수
# df.corr().style.background_gradient(cmap='coolwarm')

In [15]:
# 고유값의 개수
df.nunique()

기준년도                  1
가입자 일련번호        1000000
시도코드                 17
성별코드                  2
연령대 코드(5세단위)         10
신장(5Cm단위)            14
체중(5Kg 단위)           22
허리둘레                777
시력(좌)                24
시력(우)                24
청력(좌)                 3
청력(우)                 3
수축기 혈압              174
이완기 혈압              126
식전혈당(공복혈당)          491
총 콜레스테롤             429
트리글리세라이드           1329
HDL 콜레스테롤           340
LDL 콜레스테롤           362
혈색소                 196
요단백                   6
혈청크레아티닌             188
(혈청지오티)AST          580
(혈청지오티)ALT          637
감마 지티피              971
흡연상태                  3
음주여부                  2
구강검진 수검여부             2
치아우식증유무               2
치석                    3
데이터 공개일자              1
dtype: int64

In [16]:
df.columns

Index(['기준년도', '가입자 일련번호', '시도코드', '성별코드', '연령대 코드(5세단위)', '신장(5Cm단위)',
       '체중(5Kg 단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기 혈압',
       '이완기 혈압', '식전혈당(공복혈당)', '총 콜레스테롤', '트리글리세라이드', 'HDL 콜레스테롤', 'LDL 콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마 지티피', '흡연상태',
       '음주여부', '구강검진 수검여부', '치아우식증유무', '치석', '데이터 공개일자'],
      dtype='object')

In [36]:
# 범주형 타입으로 변경
# 성별, 연령대, 신장, 체중, 청력, 요단백, 흡연상태, 음주여부, 구강검진 수검여부
# 치아우식증유무, 치석

obejects = [
    "시도코드", "성별코드", "연령대 코드(5세단위)", "신장(5Cm단위)", "체중(5Kg 단위)",
    "시력(좌)", "시력(우)", "청력(좌)", "청력(우)", "요단백", "흡연상태", "음주여부",
    "구강검진 수검여부", "치아우식증유무", "치석"]

for o in obejects:
    df[o] = df[o].astype('category')
    # df[o] = df[o].astype('str') # str 하면 object 타입으로 변경

In [32]:
# 범주형 타입으로 잘 변경됐는지 확인
df.dtypes

기준년도               int64
가입자 일련번호           int64
시도코드            category
성별코드            category
연령대 코드(5세단위)    category
신장(5Cm단위)       category
체중(5Kg 단위)      category
허리둘레             float64
시력(좌)           category
시력(우)           category
청력(좌)           category
청력(우)           category
수축기 혈압           float64
이완기 혈압           float64
식전혈당(공복혈당)       float64
총 콜레스테롤          float64
트리글리세라이드         float64
HDL 콜레스테롤        float64
LDL 콜레스테롤        float64
혈색소              float64
요단백             category
혈청크레아티닌          float64
(혈청지오티)AST       float64
(혈청지오티)ALT       float64
감마 지티피           float64
흡연상태            category
음주여부            category
구강검진 수검여부       category
치아우식증유무         category
치석              category
데이터 공개일자          object
dtype: object

In [34]:
# 개별 확인
type(df['시도코드'].iloc[0])

str

In [39]:
df.describe()

,기준년도,가입자 일련번호,허리둘레,수축기 혈압,이완기 혈압,식전혈당(공복혈당),총 콜레스테롤,트리글리세라이드,HDL 콜레스테롤,LDL 콜레스테롤,혈색소,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마 지티피
count,1000000.0,1000000.000000,999892.000000,992468.000000,992466.000000,992398.000000,402306.000000,402322.000000,402315.000000,394471.000000,992389.00000,992398.000000,992399.000000,992398.000000,992397.000000
mean,2020.0,500000.500000,82.357094,124.831874,76.815972,104.257728,198.457729,133.837283,56.769684,115.823673,14.20946,0.851984,27.698337,26.759641,37.778292
std,0.0,288675.278933,9.622632,14.751504,9.990877,25.412529,43.210579,99.979640,16.530316,39.185302,1.55418,0.369630,25.286659,25.835091,51.815871
min,2020.0,1.000000,5.800000,64.000000,30.000000,1.000000,54.000000,2.000000,1.000000,1.000000,1.00000,0.000000,1.000000,1.000000,1.000000
25%,2020.0,250000.750000,76.000000,115.000000,70.000000,91.000000,170.000000,77.000000,46.000000,89.000000,13.20000,0.700000,20.000000,16.000000,16.000000
50%,2020.0,500000.500000,82.000000,124.000000,77.000000,99.000000,197.000000,110.000000,55.000000,115.000000,14.20000,0.800000,24.000000,21.000000,24.000000
75%,2020.0,750000.250000,89.000000,134.000000,83.000000,109.000000,225.000000,160.000000,65.000000,140.000000,15.30000,1.000000,30.000000,31.000000,40.000000
max,2020.0,1000000.000000,999.000000,260.000000,190.000000,950.000000,2416.000000,6999.000000,960.000000,2395.000000,25.00000,95.000000,8712.000000,5990.000000,2630.000000

In [38]:
# 범주형 데이터 기술통계
df.describe(include='category')

,시도코드,성별코드,연령대 코드(5세단위),신장(5Cm단위),체중(5Kg 단위),시력(좌),시력(우),청력(좌),청력(우),요단백,흡연상태,음주여부,구강검진 수검여부,치아우식증유무,치석
count,1000000,1000000,1000000,1000000,1000000,999743.0,999748.0,999778.0,999770.0,987859.0,999657.0,999804.0,1000000,331383.0,331382.0
unique,17,2,10,14,22,24.0,24.0,3.0,3.0,6.0,3.0,2.0,2,2.0,3.0
top,41,1,11,160,60,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0,0.0,1.0
freq,247369,510689,175705,184993,158678,202138.0,206683.0,955154.0,957287.0,914825.0,626138.0,584685.0,668616,275515.0,158928.0

In [37]:
# 고유값 별개로 확인
for o in obejects:
    print(o)
    print(df[o].unique())

시도코드
[36, 27, 11, 31, 41, ..., 26, 47, 45, 29, 49]
Length: 17
Categories (17, int64): [11, 26, 27, 28, ..., 46, 47, 48, 49]
성별코드
[1, 2]
Categories (2, int64): [1, 2]
연령대 코드(5세단위)
[9, 13, 12, 17, 14, 16, 11, 10, 15, 18]
Categories (10, int64): [9, 10, 11, 12, ..., 15, 16, 17, 18]
신장(5Cm단위)
[165, 150, 155, 160, 185, ..., 180, 190, 135, 130, 195]
Length: 14
Categories (14, int64): [130, 135, 140, 145, ..., 180, 185, 190, 195]
체중(5Kg 단위)
[60, 65, 55, 70, 50, ..., 105, 30, 130, 125, 135]
Length: 22
Categories (22, int64): [30, 35, 40, 45, ..., 120, 125, 130, 135]
시력(좌)
[1.2, 0.8, 0.6, 1.0, 1.5, ..., 1.90, 1.70, 2.50, 0.15, 2.10]
Length: 25
Categories (24, float64): [0.10, 0.15, 0.20, 0.30, ..., 2.0, 2.1, 2.5, 9.9]
시력(우)
[1.5, 0.8, 0.7, 1.0, 1.2, ..., 1.80, 2.10, 2.50, 1.70, 0.15]
Length: 25
Categories (24, float64): [0.10, 0.15, 0.20, 0.30, ..., 2.0, 2.1, 2.5, 9.9]
청력(좌)
[1.0, 2.0, 3.0, NaN]
Categories (3, float64): [1.0, 2.0, 3.0]
청력(우)
[1.0, 2.0, 3.0, NaN]
Categories (3, float64): [1.0, 2.0, 3.0]
요단백
[1.0, NaN, 3.0, 2.0, 4.0, 6.0, 5.0]
Categories (6, float64): [1.0, 2.0, 3.0, 4.0, 5.0, 6.0]
흡연상태
[1.0, 3.0, 2.0, NaN]
Categories (3, float64): [1.0, 2.0, 3.0]
음주여부
[0.0, 1.0, NaN]
Categories (2, float64): [0.0, 1.0]
구강검진 수검여부
[0, 1]
Categories (2, int64): [0, 1]
치아우식증유무
[NaN, 0.0, 1.0]
Categories (2, float64): [0.0, 1.0]
치석
[NaN, 0.0, 1.0, 2.0]
Categories (3, float64): [0.0, 1.0, 2.0]

/var/folders/21/dvhd5rm144sbp9s362bjvx400000gn/T/ipykernel_8923/1665567338.py:4: FutureWarning:

Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.